
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
    <!---<ons-toolbar-button (click)="pop()">
      <ons-icon icon="fa-long-arrow-left"></ons-icon>
   </ons-toolbar-button>-->
  </div>
  <div class="center">
    <ons-select [(ngModel)]="dayOfWeek">
      <!--<option *ngFor="let week of weeks">{{week.day}}</option>-->
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </ons-select>
  </div>
</ons-toolbar>
<body>
 <div id="wrap">
 <div class="task-plus">
   <div class="task-plus__icon">
      <img src='../assets/image/noimage.png' class="task-plus__icon-faceicon">
   </div>
   <p class="task-plus__title">Title</p>
   <input type="text" class="task-plus__title-input" [(ngModel)]="task_title">
   <p class="task-plus__user">AssignUser</p>
   <input type="text" class="task-plus__user-input" [(ngModel)]="task_assign_user">
   <p class="task-plus__comment">Comment</p>
   <textarea class="task-plus__comment-input" id="" [(ngModel)]="task_comment"></textarea>
 </div>
 <ons-button class="make" (click)="pop()">Create</ons-button>
</div>
