
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
    <!---<ons-toolbar-button (click)="pop()">
      <ons-icon icon="fa-long-arrow-left"></ons-icon>
   </ons-toolbar-button>-->
  </div>
  <div class="center">
    <ons-select >
      <!--<option *ngFor="let week of weeks">{{week.day}}</option>-->
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </ons-select>   
  </div>
</ons-toolbar>
<body>
 <div id="wrap">
 <div class="box">
   <div class="icon">
      <img src='../assets/image/noimage.png' class="faceicon">
   </div>
   <p class="title">Title</p>
   <input type="text" class="title">
   <p class="user">AssignUser</p>
   <input type="text" class="user">
   <p class="comment">Comment</p>
   <textarea class="comment" id=""></textarea>
 </div>
 <ons-button class="make" (click)="pop()">Create</ons-button>
</div>
</body>  
