<ons-toolbar>
    <div class="left">
      <ons-toolbar-button (click)="pop()">cansel</ons-toolbar-button>
    </div>
    <div class="center">Edit Profile</div>
    <div class="right">
      <ons-toolbar-button (click)="pop()">Apply</ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content"></div>
  <div class="circle">
    <div class="icon"></div>
  </div>
  <div class="user-info">
    <p class="user-info__name">Display Name</p>
    <p >@User</p>
    <p class="user-info__detail">Private Details</p>
    <div class="user_details">
      <div>Email</div>
      <ons-input id="user_email" placeholder="sample@sample.com"></ons-input>
    </div>
    <div class="user_details">
      <div>New Email</div>
      <ons-input id="user_new_email" ></ons-input>
    </div>
    <div class="user_details">
      <div>Pasword</div>
      <ons-input id="user_password" placeholder="********"></ons-input>
    </div>
    <div class="user_details">
      <div>New Password</div>
      <ons-input id="user_new_password" ></ons-input>
    </div>
  </div>
  