
<div class="content">
  <ons-button (click)="load(mypage)">
    <div class="picture">
      picture
    </div>
    <p class="name">name</p>
    <p class="id">id</p>
  </ons-button>


  <!-- ngForするのはユーザーの所属しているグループ -->
  <div *ngFor="let user of users">

    <!-- ↓↓↓↓ここにクリックイベント書きたい！！↓↓↓↓ -->
    <ons-button class="Group" (click)="load(home)">
      <div class="picture">
        picture
      </div>
      <p class="id">{{user.group_id}}</p>
      <p class="name">{{user.name}}</p>
    </ons-button>

  </div>
  

  <ons-button class="add" (click)="load(addgroup)">
    <p>Add Group</p> 
  </ons-button>
</div>
