ons-button{
  // position: absolute;
  width: 237px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #1A557F;
}

div.picture{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 16px;
  top: 8px;

  background: #FFFFFF;
  border-radius: 9px;
}

ons-button.Group{
  background: #2F99E5
}

p{
  position: absolute;
  width: 70px;
  height: 22px;
  left: 83px;

  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align:left;
  letter-spacing: 0.012em;

  color: #FFFFFF;

}
  
.name{
  top:0px;
  font-size:18px;
}
.id{
  top:23px
}
div.background{
  background: red;
}
ons-button.add{
  position: relative;
  background: #2F99E5
}
p.add{
  text-align: center
}
img{
  width: 54px;
  height: 54px;
  
}