
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
    <!---<ons-toolbar-button (click)="pop()">
      <ons-icon icon="fa-long-arrow-left"></ons-icon>
   </ons-toolbar-button>-->
  </div>
  <div class="right">
    <ons-toolbar-button (click)="pop()">Delete</ons-toolbar-button>
  </div>
</ons-toolbar>
<div id="wrap">
  <div class="task">
    <div class="task__icon"></div>
    <p class="task__title">Title</p>
    <input type="text" class="task__title-input" [(ngModel)]="params.data.title">
    <p class="task__user">AssignUser</p>
    <input type="text" class="task__user-input" [(ngModel)]="params.data.assign_user">
    <p class="task__comment">Comment</p>
    <textarea class="task__comment-input" id="" [(ngModel)]="params.data.comment"></textarea>
  </div>
  <ons-button class="task__make" (click)="pop()">Complete</ons-button>
</div>
