ons-button{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 41.6%;
    height: 175px;
    background: #F4F4F4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    float:left;
    margin: 15.75px;
}
p{
    text-align: center;
    color:#0D2A40;
  }

img{
    width: 80px;
    height: 80px;
}