<ons-toolbar>
  <div class="left">
    <ons-toolbar-button>✖</ons-toolbar-button>
  </div>
  <div class="center">My Page</div>
  <div class="right">
    <ons-toolbar-button>Edit</ons-toolbar-button>
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content"></div>
<div class="circle">
  <div class="icon"></div>
</div>
<div class="name">
  <p class="name">Display Name</p>
  <p >@User</p>
</div>
<p class="works">Works</p>
<div class="task"> 
  <ons-button>
    <p class="task">icon</p>
    <p class="task">title</p>
  </ons-button>
  <ons-button>
  </ons-button>
  <ons-button>
    </ons-button>
    <ons-button>
      </ons-button>
      <ons-button>
      </ons-button>
      <ons-button>
      </ons-button>
      <ons-button>
      </ons-button>
</div>
