<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="load(home)">✖</ons-toolbar-button>
  </div>
  <div class="center">My Page</div>
  <div class="right">
    <ons-toolbar-button>Edit</ons-toolbar-button>
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content"></div>
<div class="circle">
  <div class="icon"></div>
</div>
<div class="user-info">
  <p class="user-info__name">Display Name</p>
  <p >@User</p>
  <p class="user-info__works">Works</p>
  <div class="user-info__task">
    <div class="user-info__task-item" *ngFor="let task of tasks">
      <ons-button>
        <p class="user-info__task-title">{{task.title}}</p>
        <p class="user-info__task-id">{{task.user_id}}</p>
      </ons-button>
    </div>
  </div>
</div>
