
<!--上にあるツールバーの内容-->
<ons-toolbar>
  <div class="center">

    <!--曜日選択の表示-->
    <ons-select [(ngModel)]="dayOfWeek">
      <!--<option *ngFor="let week of weeks">{{week.day}}</option>-->
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </ons-select>
  </div>

  <!--タスクの追加画面への遷移のボタン-->
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>

  <!--サイドバーへの遷移のボタン-->
  <div class="right">
    <ons-toolbar-button (click)="pushtaskplus()" >
      <ons-icon icon="fa-plus"></ons-icon>
    </ons-toolbar-button>
  </div>
</ons-toolbar>
<!--ここまでが上にあるツールバー-->


<!--タスク一覧などを表示する部分-->
<div class="background"></div>
<div class="content">
  <div class="blank"></div>

  <!--選択された曜日のタスクの表示-->
  <div [ngSwitch]="dayOfWeek">

    <!--月曜日のタスク表示-->
    <div *ngSwitchCase="'0'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==0">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.title}}</p>
            <p>{{task.detail}}</p>
            <p>{{task.group_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--火曜日のタスク表示-->
    <div *ngSwitchCase="'1'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==1">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.picture}}</p>
            <p>{{task.title}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--水曜日のタスク表示-->
    <div *ngSwitchCase="'2'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==2">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.picture}}</p>
            <p>{{task.title}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--木曜日のタスク表示-->
    <div *ngSwitchCase="'3'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==3">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.picture}}</p>
            <p>{{task.title}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--金曜日のタスク表示-->
    <div *ngSwitchCase="'4'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==4">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.title}}</p>
            <p>{{task.detail}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--土曜日のタスク表示-->
    <div *ngSwitchCase="'5'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==5">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.picture}}</p>
            <p>{{task.title}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>


    <!--日曜日のタスク表示-->
    <div *ngSwitchCase="'6'">
      <div *ngFor="let task of tasks">
        <div *ngIf="task.day_of_week==6">
          <ons-button (click)="pushtaskedit(task)" >
            <p>{{task.picture}}</p>
            <p>{{task.title}}</p>
            <p>{{task.user_id}}</p>
          </ons-button>
        </div>
      </div>
    </div>

  </div>
</div>
<!--タスクの一覧のページの内容はここまで-->