
<ons-toolbar>
  <div class="center">
    <ons-select>
      <!--<option *ngFor="let week of weeks">{{week.day}}</option>-->
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </ons-select>
  </div>
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="right">
    <ons-toolbar-button (click)="push()">
      <ons-icon icon="fa-plus"></ons-icon>
    </ons-toolbar-button>
  </div>
</ons-toolbar>

<div class="background"></div>
<div class="content">
  <div class="blank"></div>
  <div *ngFor="let task of tasks" modifier="task">
    <ons-button >
      <p>{{task.picture}}</p>
      <p>{{task.title}}</p>
      <p>{{task.user_id}}</p>
    </ons-button>
  </div>
</div>

