
<!--上にあるツールバーの内容-->
<ons-toolbar>
  <div class="center">

    <!--曜日選択の表示-->
    <ons-select [(ngModel)]="dayOfWeek">
      <!--<option *ngFor="let week of weeks">{{week.day}}</option>-->
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </ons-select>
  </div>

  <!--タスクの追加画面への遷移のボタン-->
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>

  <!--サイドバーへの遷移のボタン-->
  <div class="right">
    <ons-toolbar-button (click)="pushtaskplus(dayOfWeek)" >
      <ons-icon icon="fa-plus"></ons-icon>
    </ons-toolbar-button>
  </div>
</ons-toolbar>
<!--ここまでが上にあるツールバー-->


<!--タスク一覧などを表示する部分-->
<div class="background"></div>
<div class="content">
  <div class="blank"></div>

  <!--選択された曜日のタスクの表示-->
  <app-home-list [dayOfWeek]="dayOfWeek"></app-home-list>
</div>
<!--タスクの一覧のページの内容はここまで-->